<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <distributable/>
    <servlet>
        <servlet-name>CountingServlet</servlet-name>
        <servlet-class>ca.eloas.replication.CountingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountingServlet</servlet-name>
        <url-pattern>/count</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>ca.eloas.replication.PassivationListener</listener-class>
    </listener>
</web-app>